
.projet1 p , .projet2 p  , .projet3 p , .projet4 P {
  text-align: justify;
}
.projet1 h2 , .projet2 h2  , .projet3 h2 , .projet4 h2{
margin: 20px;
}
/* Images du projet1 */
.projet1 img {
  max-width: 30vw;
  display: block;
  margin: auto;
  object-fit: contain;
  /* Ajuste l’image sans déformation */

}

/* Contexte */
.proj1context,
.proj1solution,
.proj1process {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Image du contexte */
.proj1project-image {
  padding: 20px;
}

/* Solution proposée */
.proj1container-solution {
  padding: 30px;
  display: flex;
  flex-wrap: row;
}

.proj1card2 img {
  max-width: 75vw;
}

/* Processus de conception */
.proj1photo-process,
.proj1photo-process2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.proj1photo-process img,
.proj1photo-process2 img {
  padding: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 40vh;
}

.proj1photo-process2 img {
  height: 30vh;
}

.proj1model_fab iframe {
  width: 40vw;
  height: 30vh;
}

@media (max-width: 768px) {

  .projet1 img {
    max-width: 60vw;
  }

  .proj1card2 img {
    max-width: 50vw;
  }

  .proj1photo-process2 img {
    max-width: 35vw;
    padding: 0px;
    padding-top: 0px;
  }

  .proj1model_fab iframe {
    width: 70vw;
    height: 30vh;
  }
}

/*projet2*/
.projet2 {
  display: block;
  align-items: center;

}

.projet2 img {
  max-width: 40vw;
  object-fit: contain;
  margin: 20px;
}

/* Solution proposée */
.proj2solution {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj2container-solution {
  padding: 30px;
  display: flex;
  flex-wrap: row;
  align-items: center;
}

.proj2card2 img {
  max-width: 75vw;
}

.proj2process {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj2model_fab iframe {
  width: 60vw;
  height: 50vh;
}

@media (max-width: 768px) {

  .projet2 img {
    max-width: 60vw;
    margin: 10px;
  }

  .proj2card2 img {
    max-width: 50vw;
  }

  .proj2model_fab iframe {
    width: 70vw;
    height: 30vh;
  }

}

/*projet3*/
.projet3 {
  display: block;
  align-items: center;

}

.projet3 img {
  max-width: 60vw;
  object-fit: contain;
  margin: 20px;
}
.proj3photo-context{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.proj3contextcard1,.proj3contextcard2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.proj3contextcard1 img ,.proj3contextcard2 img{
  max-width: 25vw;
 
}
.proj3process{
  display: flex;
  flex-direction: column;
}

.proj3photo-process{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.proj3photo-process img{
  max-height: 20vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.proj3model_fab iframe {
  width: 40vw;
  height: 35vh;
}

/*projet4*/

.proj4context{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
.proj4context .proj4project-image {
  width: 50vw;
}
.proj4contextinfo{
  text-align: justify;
}

.proj4contextinfo ul{
  margin-left: 30px;
}

.proj4element_a_disposition{
  display: flex;
  flex-direction: column;
}

.proj4Arduinocard1{
  display: flex;
  flex-direction: row;
}
.proj4Arduinophotocard1 img {
  max-width: 40vw; /* Ajustez la taille souhaitée */
  height: auto; /* Conserve les proportions */
  margin: 30px;
}

.proj4Arduinocard3{
  display: flex;
  flex-direction: row;
}
.proj4Arduinophotocard3 img {
  max-width: 35vw; /* Ajustez la taille souhaitée */
  height: auto; /* Conserve les proportions */
  margin: 30px;
}
.proj4Arduinocard5{
  display: flex;
  flex-direction: row;

}
.proj4Arduinophotocard5 img {
  max-width: 30vw; /* Ajustez la taille souhaitée */
  height: auto; /* Conserve les proportions */
  margin: 30px;
}
.proj4Arduinocard7{
  display: flex;
  flex-direction: row;
}

.proj4Arduinocard2{
  display: flex;
  flex-direction: row-reverse;
}
.proj4Arduinophotocard2 img {
  max-width: 30vw; /* Ajustez la taille souhaitée */
  height: auto; /* Conserve les proportions */
  margin: 30px;
}

.proj4Arduinocard4{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proj4Arduinophotocard4 img {
  max-width: 50vw; /* Ajustez la taille souhaitée */
  height: auto; /* Conserve les proportions */
  margin: 10px;
}
.proj4Arduinoinfocard4{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.proj4Arduinocard6{
  display: flex;
  flex-direction: row-reverse;
}
.proj4Arduinocard8{
  display: flex;
  flex-direction: row-reverse;
}

