/* Contact Form */
.contact-form {
    width: 100%;
    max-width: 1200px; /* Limite la largeur pour les grands écrans */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%; /* S'assure que les champs prennent toute la largeur */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}

/* Contact Info */
.contact-info {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
}

.contact-info p {
    margin: 10px 0;
}

/* Social Media */
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
}

.social-media img {
    width: 50px;
    height: auto;
    margin: 10px;
}

/* Google Maps */
.map {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
}

/* Media Queries (Optimisation pour les petits écrans) */
@media (max-width: 768px) {
    .contact-form, .contact-info, .social-media, .map {
        width: 90vw; /* Ajuste la largeur pour les petits écrans */
    }
}
