/* generique */
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #FFF;
  background: transparent;
  border: none;
}

html,
body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  line-height: 1.6;
  transition: background-color 0.3s ease;
  background-color: var(--background);
}

h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

p {
  line-height: 1.6;
  color: var(--ecriture);
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.lang-btn{
  color: var(--ecriture);
  padding-left: 10px;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}
i.fa.fa-moon-o.moon-icon::before{
  color: var(--ecriture);
}
.changeTheme{
  color: var(--ecriture);
  padding-left: 20px;

  transition: color 0.3s ease, transform 0.3s ease;
}



.changeTheme:hover {
  transform: scale(1.05);
}
.logo-container , .lang-btncontaine{
  display: flex;
  align-items: center;
}

.logo , .lang-btncontaine{
  height: 45px;
  margin-right: 20px;
 }


/* Header */
header {
  padding: 10px 20px;
  /* AjustÃ© pour un meilleur alignement */
  color: white;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Pour espacer le logo et le menu */
}


/* Main Section */
main {
  text-align: center;
}



a {
  text-decoration: none;
  color: inherit;
}

/* Footer */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul.menu>li{
  position: relative;
  margin: 0px 15px;
}

nav ul.menu>li>a {
  display: block;
  padding: 15px 20px;
  color: var(--ecriture);
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul.menu>li>a:hover, .lang-btn:hover {
  color: #d07fffce;
  transform: scale(1.05);
}
.changeThemeindex{
  color: #ffffff;
  padding-left: 20px;
  
  transition: color 0.3s ease, transform 0.3s ease;
}


.changeThemeindex:hover {
  transform: scale(1.05);
}