/* Styles du menu hamburger */
.hamburger {
    z-index: 10;
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    nav ul.menu {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #000000;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 10px;
        padding-right: 0px;
        opacity: 0; /* Invisible initialement */
        visibility: hidden;
        transform: translateX(0); /* Menu reste dans l'écran */
        transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
        border-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    nav ul.menu li a {
        color: white; /* Changer la couleur du texte */
        padding-right: 20px;
    }

    .hamburger {
        display: block;
    }

    /* Menu actif (visible après clic) */
    nav ul.menu.active {
        opacity: 1; /* Rendre visible */
        visibility: visible; /* S'assurer que le menu est affiché */
        transform: translateX(0); /* Menu reste à sa position */
    }

    /* Disparition avec transition */
    nav ul.menu.hidden {
        opacity: 0; /* Rendre invisible */
        visibility: hidden;
        transform: translateX(100%); /* Disparaît en glissant à droite */
    }
}
